@font-face {
  font-family: ppeditorialold;
  font-display: swap;
  src: url(../fonts/ppeditorialold-ultralight.woff2) format("woff2");
  font-weight: 200;
  font-style: normal
}
@font-face {
  font-family: StratosLCWeb;
  font-display: swap;
  src: url(../fonts/StratosLCWeb-Light.woff2) format("woff2");
  font-weight: 300;
  font-style: normal
}
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: #919268;
  line-height: 1.2;
  font-family: ppeditorialold;
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: ppeditorialold;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: rgba(0,0,0,0)
}
input,
textarea {
  width: 100%
}
label {
  display: inline-block
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
address {
  font-style: normal
}
summary::-webkit-details-marker {
  display: none
}
summary {
  list-style: none
}
body {
  scrollbar-gutter: stable;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.lock body {
  overflow: hidden;
  touch-action: none
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper>main {
  flex: 1 1 auto
}
.wrapper>* {
  min-width: 0
}
[class*="--gc"] {
  display: grid;
  min-width: 0;
  grid-template-columns: .9375rem 1fr minmax(auto,73.125rem) 1fr .9375rem
}
[class*="--gc"]>* {
  min-width: 0;
  grid-column: 3/4
}
input[type=email],
input[type=tel],
input[type=text],
textarea {
  -webkit-appearance: none;
  appearance: none
}
.input {
  border-radius: 0!important;
  width: 100%;
  display: block;
  padding: 1.25rem 1.75rem;
  border-bottom: .0625rem solid rgba(145,146,104,.4);
  caret-color: inherit;
  outline: 0;
  min-height: 4.5rem;
  transition: border .3s ease
}
.input[placeholder]:not([data-placeholder-nohiden])::-webkit-input-placeholder {
  opacity: .4;
  -webkit-transition: opacity .3s;
  transition: opacity .3s
}
.input[placeholder]:not([data-placeholder-nohiden]):-ms-input-placeholder {
  opacity: .4;
  -ms-transition: opacity .3s;
  transition: opacity .3s
}
.input[placeholder]:not([data-placeholder-nohiden])::-ms-input-placeholder {
  opacity: .4;
  -ms-transition: opacity .3s;
  transition: opacity .3s
}
.input[placeholder]:not([data-placeholder-nohiden])::placeholder {
  opacity: .4;
  transition: opacity .3s
}
.input[placeholder]:not([data-placeholder-nohiden]):focus::-webkit-input-placeholder {
  opacity: 0
}
.input[placeholder]:not([data-placeholder-nohiden]):focus:-ms-input-placeholder {
  opacity: 0
}
.input[placeholder]:not([data-placeholder-nohiden]):focus::-ms-input-placeholder {
  opacity: 0
}
.input[placeholder]:not([data-placeholder-nohiden]):focus::placeholder {
  opacity: 0
}
.input[placeholder]:not([data-placeholder-nohiden]):focus {
  border-color: #919268
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
body {
  background-color: #151d20
}
body::-webkit-scrollbar {
  width: 5px
}
body::-webkit-scrollbar-track {
  background-color: rgba(0,0,0,0)
}
body::-webkit-scrollbar-thumb {
  background-color: #919268;
  border-radius: 3px
}
body * {
  scrollbar-width: thin;
  scrollbar-color: #919268 transparent
}
[class*=__container] {
  width: 100%;
  max-width: 90rem;
  margin-inline: auto
}
.adrs__block,
.footer,
.form__button,
.form__item .input,
.info-values__txts p,
.menu__link,
.right-block__sm,
.who__right {
  font-family: StratosLCWeb,sans-serif
}
.split-both,
.split-lines,
.split-words {
  -webkit-font-kerning: none;
  font-kerning: none
}
.split-both.title-main .line,
.title-main .split-both .line {
  overflow: hidden
}
.split-both._watcher-view.title-main .word,
.title-main .split-both._watcher-view .word {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  transition-delay: calc(.3s + var(--index)*.03s)
}
.split-both.title-main .word,
.title-main .split-both .word {
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  transition: -webkit-transform .55s cubic-bezier(.22,.89,.34,.96);
  transition: transform .55s cubic-bezier(.22,.89,.34,.96);
  transition: transform .55s cubic-bezier(.22,.89,.34,.96),-webkit-transform .55s cubic-bezier(.22,.89,.34,.96)
}
._watcher-view .split-both.title-main .word,
._watcher-view .title-main .split-both .word {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  transition-delay: calc(.3s + var(--index)*.03s)
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10
}
.header__wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  -webkit-column-gap: 1.875rem;
  -moz-column-gap: 1.875rem;
  column-gap: 1.875rem;
  padding-bottom: 1.25rem
}
.header__wrapper::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: .09375rem;
  opacity: 0;
  background-color: #919268;
  transition: width .65s cubic-bezier(.22,.89,.34,.96) 0s,opacity .45s ease 0s,background-color .3s ease 0s
}
.loaded .header__wrapper::after {
  opacity: 1;
  width: 100%;
  transition: width .65s cubic-bezier(.22,.89,.34,.96) 1s,opacity .45s ease 1s,background-color .3s ease 0s
}
._who-block .header__wrapper::after {
  background-color: #151d20
}
.menu-open .header__wrapper::after {
  background-color: #919268
}
.header__logo {
  position: relative;
  z-index: 5;
  display: inline-block;
  bottom: -10px;
  opacity: 0;
  transition: bottom .55s cubic-bezier(.22,.89,.34,.96) 0s,opacity .55s ease
}
.loaded .header__logo {
  opacity: 1;
  bottom: 0
}
.header__logo img {
  width: 100%;
  height: auto;
  -webkit-filter: invert(70%) sepia(3%) saturate(2608%) hue-rotate(23deg) brightness(80%) contrast(98%);
  filter: invert(70%) sepia(3%) saturate(2608%) hue-rotate(23deg) brightness(80%) contrast(98%)
}
._who-block .header__logo img {
  -webkit-filter: invert(10%) sepia(7%) saturate(1566%) hue-rotate(151deg) brightness(100%) contrast(98%);
  filter: invert(10%) sepia(7%) saturate(1566%) hue-rotate(151deg) brightness(100%) contrast(98%)
}
.menu-open .header__logo img {
  -webkit-filter: invert(70%) sepia(3%) saturate(2608%) hue-rotate(23deg) brightness(80%) contrast(98%);
  filter: invert(70%) sepia(3%) saturate(2608%) hue-rotate(23deg) brightness(80%) contrast(98%)
}
.logo-ac {
  opacity: 0
}
.logo-ac__img {
  height: auto;
  width: 100%;
  -webkit-filter: invert(70%) sepia(3%) saturate(2608%) hue-rotate(23deg) brightness(80%) contrast(98%);
  filter: invert(70%) sepia(3%) saturate(2608%) hue-rotate(23deg) brightness(80%) contrast(98%)
}
.menu {
  display: flex;
  align-items: center;
  -webkit-column-gap: 2.0625rem;
  -moz-column-gap: 2.0625rem;
  column-gap: 2.0625rem
}
.menu__list {
  display: flex
}
._scroll-dwn .menu__item:nth-child(1) .menu__link {
  transition-delay: 0s
}
._scroll-dwn .menu__item:nth-child(2) .menu__link {
  transition-delay: .03s
}
._scroll-dwn .menu__item:nth-child(3) .menu__link {
  transition-delay: .06s
}
._scroll-dwn .menu__item:nth-child(4) .menu__link {
  transition-delay: .09s
}
._scroll-dwn .menu__item:nth-child(5) .menu__link {
  transition-delay: .12s
}
._scroll-dwn .menu__item:nth-child(6) .menu__link {
  transition-delay: .15s
}
.menu__link span {
  display: inline-block;
  transition: color .3s ease,-webkit-transform .5s cubic-bezier(.22,.89,.34,.96) 0s;
  transition: transform .5s cubic-bezier(.22,.89,.34,.96) 0s,color .3s ease;
  transition: transform .5s cubic-bezier(.22,.89,.34,.96) 0s,color .3s ease,-webkit-transform .5s cubic-bezier(.22,.89,.34,.96) 0s
}
._who-block .menu__link span {
  color: #151d20
}
.menu-open .menu__link span {
  color: #919268
}
.icon-menu {
  display: none
}
.advantages,
.contacts,
.hero,
.values,
.who {
  min-height: 100svh
}
.hero {
  opacity: 0;
  display: flex
}
.loaded .hero {
  opacity: 1;
  transition: .2s ease
}
.hero__container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end
}
.hero__img {
  height: auto;
  width: 100%;
  -webkit-filter: invert(70%) sepia(3%) saturate(2608%) hue-rotate(23deg) brightness(80%) contrast(98%);
  filter: invert(70%) sepia(3%) saturate(2608%) hue-rotate(23deg) brightness(80%) contrast(98%);
  position: fixed;
  z-index: 9
}
.hero__img._anim-end {
  z-index: 11
}
._who-block .hero__img {
  -webkit-filter: invert(10%) sepia(7%) saturate(1566%) hue-rotate(151deg) brightness(100%) contrast(98%);
  filter: invert(10%) sepia(7%) saturate(1566%) hue-rotate(151deg) brightness(100%) contrast(98%)
}
.menu-open .hero__img {
  -webkit-filter: invert(70%) sepia(3%) saturate(2608%) hue-rotate(23deg) brightness(80%) contrast(98%);
  filter: invert(70%) sepia(3%) saturate(2608%) hue-rotate(23deg) brightness(80%) contrast(98%)
}
.hero__content {
  position: relative
}
.hero__title {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  line-height: 1
}
.hero__title span {
  display: inline-block
}
.hero__title .lines {
  overflow: hidden;
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content
}
.hero__title .lines:nth-child(1) .sub-line {
  -webkit-transform: translate(100%,0);
  transform: translate(100%,0)
}
.hero__title .lines:nth-child(1) .sub-line:before {
  content: "";
  position: absolute;
  top: 38%;
  right: 0;
  background-color: #919268;
  height: .09375rem
}
.loaded .hero__title .lines:nth-child(1) .sub-line {
  transition: opacity .35s ease,-webkit-transform .85s cubic-bezier(.22,.89,.34,.96);
  transition: transform .85s cubic-bezier(.22,.89,.34,.96),opacity .35s ease;
  transition: transform .85s cubic-bezier(.22,.89,.34,.96),opacity .35s ease,-webkit-transform .85s cubic-bezier(.22,.89,.34,.96)
}
.hero__title .lines:nth-child(2) .sub-line {
  -webkit-transform: translate(50%,0);
  transform: translate(50%,0)
}
.hero__title .lines:nth-child(3) {
  color: #e0ff05;
  align-self: flex-end
}
.hero__title .lines:nth-child(3) .sub-line {
  -webkit-transform: translate(50%,0);
  transform: translate(50%,0)
}
.hero__title .lines .sub-line {
  padding-top: .5rem;
  padding-bottom: .375rem;
  opacity: 0
}
.loaded .hero__title .lines .sub-line {
  opacity: 1;
  -webkit-transform: translate(0,0);
  transform: translate(0,0)
}
.hero__btn {
  position: absolute;
  left: 0;
  display: grid;
  aspect-ratio: 1/1;
  height: auto;
  -webkit-transform: scale(.2);
  transform: scale(.2);
  opacity: 0;
  transition: opacity .45s ease,-webkit-transform .65s ease;
  transition: transform .65s ease,opacity .45s ease;
  transition: transform .65s ease,opacity .45s ease,-webkit-transform .65s ease
}
.loaded .hero__btn {
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1
}
.hero__btn img {
  width: 100%;
  height: auto
}
.advantages__container,
.contacts__container,
.focus__container,
.values__container,
.who__container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.875rem
}
.who {
  background-color: #919268;
  color: #151d20;
  display: flex
}
.who__content {
  display: grid;
  gap: .625rem
}
.who__right p {
  max-width: 39.25rem;
  line-height: 1
}
.who__right p.split-words .word {
  overflow: hidden
}
.who__right p.split-words .word .word-span {
  padding-bottom: .1875rem;
  display: inline-block;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  transition: -webkit-transform .55s cubic-bezier(.22,.89,.34,.96);
  transition: transform .55s cubic-bezier(.22,.89,.34,.96);
  transition: transform .55s cubic-bezier(.22,.89,.34,.96),-webkit-transform .55s cubic-bezier(.22,.89,.34,.96)
}
.who__right p.split-words._watcher-view .word-span {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  transition-delay: calc(.3s + var(--index)*.03s)
}
.who__main {
  display: grid
}
.who__main span {
  display: inline-block
}
.who__main .anim {
  overflow: hidden
}
.who__main .anim span {
  opacity: 0;
  -webkit-transform: translate(50%,0);
  transform: translate(50%,0);
  transition: opacity .3s ease,-webkit-transform .85s cubic-bezier(.22,.89,.34,.96);
  transition: transform .85s cubic-bezier(.22,.89,.34,.96),opacity .3s ease;
  transition: transform .85s cubic-bezier(.22,.89,.34,.96),opacity .3s ease,-webkit-transform .85s cubic-bezier(.22,.89,.34,.96)
}
.who__main .anim:nth-child(1) span {
  transition-delay: .1s
}
.who__main .anim:nth-child(2) span {
  transition-delay: .2s
}
.who__main .anim:nth-child(3) span {
  transition-delay: .3s
}
.who__main._watcher-view .anim {
  overflow: hidden
}
.who__main._watcher-view .anim span {
  opacity: 1;
  -webkit-transform: translate(0,0);
  transform: translate(0,0)
}
.who__main--acc {
  color: #e0ff05
}
.info-values__item,
.line-values,
.values__items {
  display: grid;
  width: 100%;
  gap: 1.25rem .5rem
}
.advantages,
.contacts,
.focus,
.values {
  display: flex;
  padding-bottom: 3.75rem
}
.values {
  overflow: hidden;
  background-color: #fff
}
.values__title {
  color: #151d20
}
.values__content {
  position: relative
}
.values__items {
  position: relative;
  z-index: 0;
  height: 100%;
  transition: opacity .35s ease
}
.values__item {
  background-color: #e1e1e1;
  position: relative
}
.values__body {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between
}
.values__sm {
  font-size: 3.125rem
}
.values__big {
  line-height: 1
}
.info-values__item {
  transition: opacity .65s ease;
  opacity: 0;
  pointer-events: none
}
.info-values__item._active {
  opacity: 1
}
.info-values__video {
  position: relative;
  z-index: 0;
  overflow: hidden
}
.info-values__card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center
}
.info-values__card img {
  height: auto
}
.info-values__top {
  width: 100%
}
.info-values__title {
  line-height: 1
}
.info-values__txts {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center
}
.line-values__item,
.values__body {
  position: relative
}
.line-values__item::before,
.values__body::before {
  content: "";
  position: absolute;
  z-index: 2;
  left: 50%;
  top: 50%;
  height: 40%;
  width: .0625rem;
  background-color: #919268;
  transition: all .45s ease
}
.advantages {
  background-color: #fff;
  overflow: hidden
}
.advantages._watcher-view .advantages__content {
  opacity: 1;
  -webkit-transform: translate(0,0);
  transform: translate(0,0)
}
.advantages__content {
  opacity: 0;
  -webkit-transform: translate(0,50%);
  transform: translate(0,50%);
  transition: opacity .45s ease,-webkit-transform .65s ease;
  transition: transform .65s ease,opacity .45s ease;
  transition: transform .65s ease,opacity .45s ease,-webkit-transform .65s ease
}
.advantages__slider {
  position: relative
}
.advantages__pagination {
  position: absolute;
  right: 0;
  width: 100%;
  height: .125rem;
  display: flex;
  align-items: center;
  flex-wrap: nowrap
}
.advantages__pagination .swiper-pagination-bullet {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #fff;
  transition: background-color .3s ease
}
.advantages__pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #919268
}
.advantages__buttons {
  display: flex;
  align-items: center;
  position: absolute;
  gap: .625rem
}
.advantages__button {
  display: grid;
  place-items: center;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: .0625rem solid #919268;
  transition: background-color .3s ease
}
.advantages__button svg {
  position: relative;
  height: auto
}
.advantages__button svg path {
  transition: fill .3s ease
}
.advantages__button.swiper-button-prev svg {
  left: -4%
}
.advantages__button.swiper-button-next svg {
  right: -4%
}
.advantages__button:hover {
  background-color: #919268
}
.advantages__button:hover svg path {
  fill: #fff
}
.slide-advt__body {
  gap: 1.875rem .625rem;
  height: 100%
}
.slide-advt__left {
  display: flex;
  flex-direction: column;
  justify-content: flex-end
}
.slide-advt__num {
  color: #e0ff05
}
.slide-advt__title {
  line-height: 1
}
.slide-advt__title .word {
  overflow: hidden
}
.slide-advt__title .word .word-span {
  padding-top: .3125rem;
  padding-bottom: .5rem;
  display: inline-block;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  transition: -webkit-transform .65s cubic-bezier(.22,.89,.34,.96);
  transition: transform .65s cubic-bezier(.22,.89,.34,.96);
  transition: transform .65s cubic-bezier(.22,.89,.34,.96),-webkit-transform .65s cubic-bezier(.22,.89,.34,.96)
}
.swiper-slide-active .slide-advt__title .word .word-span {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  transition-delay: calc(var(--index)*.03s)
}
.slide-advt__right {
  background-color: #e1e1e1
}
.right-block__clm {
  display: grid;
  gap: .3125rem .625rem
}
.right-block__sm {
  font-size: .9375rem
}
.focus {
  min-height: 100svh;
  position: relative;
  overflow: hidden
}
.focus__container {
  position: relative;
  z-index: 2
}
.focus__subtitle {
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  width: 100%;
  line-height: 1;
  padding: 0 1.25rem
}
.focus__subtitle span {
  color: #e0ff05
}
.focus__el {
  position: absolute;
  z-index: 0;
  top: 120%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  aspect-ratio: 1/1
}
.contacts {
  background-color: #fff
}
.adrs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 4.375rem 0
}
.adrs__block {
  max-width: 25rem
}
.adrs__item p {
  color: #151d20;
  margin-bottom: .625rem
}
.adrs__txt {
  display: flex;
  flex-wrap: wrap;
  line-height: 1
}
.adrs__txt span {
  display: inline-block;
  overflow: hidden
}
.adrs__txt .word {
  position: relative;
  padding-top: .3125rem;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  transition: -webkit-transform .55s cubic-bezier(.22,.89,.34,.96);
  transition: transform .55s cubic-bezier(.22,.89,.34,.96);
  transition: transform .55s cubic-bezier(.22,.89,.34,.96),-webkit-transform .55s cubic-bezier(.22,.89,.34,.96)
}
.adrs__txt._watcher-view .word {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  transition-delay: calc(0s + var(--index)*.05s)
}
.form__form._sending .form__button {
  opacity: .5;
  pointer-events: none
}
.form__item:not(:last-child) {
  margin-bottom: .625rem
}
.form__button {
  font-size: 1.125rem;
  color: #e0ff05;
  background-color: #919268;
  min-height: 4.0625rem;
  display: grid;
  place-items: center;
  padding: .625rem;
  width: 100%;
  border-radius: 6.0625rem;
  border: .0625rem solid #919268;
  transition: background-color .3s ease,color .3s ease
}
.contacts__body,
.footer__bottom,
.footer__top {
  display: grid;
  gap: 2.5rem
}
.footer__logo,
.pages__item,
.social__link {
  opacity: 0;
  transition: opacity .55s ease
}
.footer {
  overflow: hidden
}
.footer._watcher-view .footer__link,
.footer._watcher-view .footer__logo,
.footer._watcher-view .pages__item,
.footer._watcher-view .social__link {
  opacity: 1
}
.footer._watcher-view .footer__nav {
  border-color: #919268;
  transition-delay: .22s
}
.footer._watcher-view .pages__copy {
  opacity: .5
}
.footer__logo {
  -webkit-filter: invert(70%) sepia(3%) saturate(2608%) hue-rotate(23deg) brightness(80%) contrast(98%);
  filter: invert(70%) sepia(3%) saturate(2608%) hue-rotate(23deg) brightness(80%) contrast(98%);
  height: auto
}
.footer__nav {
  border-bottom: .0625rem solid rgba(145,146,104,0);
  transition: border .55s ease
}
.footer__item {
  overflow: hidden
}
.footer__item:nth-child(1) .footer__link {
  transition: background-color .3s ease 0s,color .3s ease 0s,opacity .55s ease .1s
}
.footer__item:nth-child(2) .footer__link {
  transition: background-color .3s ease 0s,color .3s ease 0s,opacity .55s ease .13s
}
.footer__item:nth-child(3) .footer__link {
  transition: background-color .3s ease 0s,color .3s ease 0s,opacity .55s ease .16s
}
.footer__item:nth-child(4) .footer__link {
  transition: background-color .3s ease 0s,color .3s ease 0s,opacity .55s ease .19s
}
.footer__item:nth-child(5) .footer__link {
  transition: background-color .3s ease 0s,color .3s ease 0s,opacity .55s ease .22s
}
.footer__item:nth-child(6) .footer__link {
  transition: background-color .3s ease 0s,color .3s ease 0s,opacity .55s ease .25s
}
.footer__item:nth-child(7) .footer__link {
  transition: background-color .3s ease 0s,color .3s ease 0s,opacity .55s ease .28s
}
.footer__link {
  opacity: 0
}
.footer__bottom {
  padding-top: 1.875rem
}
.footer__social {
  display: flex;
  align-items: flex-end
}
.social__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap
}
.social__item {
  aspect-ratio: 1/1
}
.social__item:nth-child(1) .social__link {
  transition-delay: .28s
}
.social__item:nth-child(2) .social__link {
  transition-delay: .31s
}
.social__item:nth-child(3) .social__link {
  transition-delay: .34s
}
.social__item:nth-child(4) .social__link {
  transition-delay: .37s
}
.social__item:nth-child(5) .social__link {
  transition-delay: .4s
}
.social__link {
  aspect-ratio: 1/1;
  display: grid;
  place-items: center;
  border-radius: 50%;
  overflow: hidden;
  position: relative
}
.social__link img {
  width: 100%;
  height: auto
}
.pages {
  display: flex
}
.pages__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap
}
.pages__item:nth-child(1) {
  transition-delay: .37s
}
.pages__item:nth-child(2) {
  transition-delay: .4s
}
.pages__item:nth-child(3) {
  transition-delay: .43s
}
.pages__item:nth-child(4) {
  transition-delay: .46s
}
.pages__item:nth-child(5) {
  transition-delay: .49s
}
.pages__link {
  opacity: .5;
  transition: opacity .3s ease
}
.pages__copy {
  opacity: 0;
  transition: opacity .65s ease .46s
}
.swiper {
  overflow: hidden
}
.swiper-initialized {
  touch-action: pan-y
}
.swiper-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  display: flex;
  position: relative
}
.swiper-vertical .swiper-wrapper {
  flex-direction: column
}
.swiper-autoheight .swiper-wrapper {
  align-items: flex-start
}
.swiper-initialized .swiper-slide {
  flex-shrink: 0
}
.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0)
}
.swiper-button-lock {
  display: none!important
}
@media (min-width:23.37375em) {
  .adrs__txt {
    font-size: 5rem
  }
}
@media (min-width:30.06125em) {
  .footer__item:not(:last-child) .footer__link,
  .menu__link {
    position: relative
  }
  .footer__item:not(:last-child) .footer__link::before,
  .menu__link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translate(-50%,0);
    transform: translate(-50%,0);
    width: 0%;
    height: .0625rem;
    background-color: #919268;
    transition: width .45s ease
  }
  ._who-block .footer__item:not(:last-child) .footer__link::before,
  ._who-block .menu__link::before,
  .footer__item:not(:last-child) ._who-block .footer__link::before {
    background-color: #151d20
  }
  .loaded .header__logo {
    transition-delay: 1s
  }
  .hero {
    padding-bottom: 14vh
  }
  .loaded .hero__title .lines:nth-child(1) .sub-line {
    transition-delay: .5s
  }
  .loaded .hero__title .lines:nth-child(2) .sub-line {
    transition: opacity .35s ease,-webkit-transform 1s ease;
    transition: transform 1s ease,opacity .35s ease;
    transition: transform 1s ease,opacity .35s ease,-webkit-transform 1s ease;
    transition-delay: 1s
  }
  .loaded .hero__title .lines:nth-child(3) .sub-line {
    transition: opacity .65s ease,-webkit-transform 1s ease;
    transition: transform 1s ease,opacity .65s ease;
    transition: transform 1s ease,opacity .65s ease,-webkit-transform 1s ease;
    transition-delay: 1.2s
  }
  .loaded .hero__btn {
    transition-delay: 1.5s
  }
  .hero__btn {
    bottom: 1.25rem
  }
  .who {
    padding-top: 8.125rem;
    padding-bottom: 5rem
  }
  .who__content {
    grid-template-columns: 1fr 56%
  }
  .advantages,
  .contacts,
  .focus,
  .values {
    padding-top: 8.125rem
  }
  .focus__subtitle {
    text-align: center
  }
  .focus__el {
    width: 25%
  }
  .form__button {
    max-width: 15.125rem
  }
  .footer__logo {
    width: 4.25rem
  }
  .footer__link {
    font-size: .9375rem
  }
  .footer__link.link-form {
    padding: .3125rem 1.875rem;
    min-height: 2.4375rem;
    display: grid;
    place-items: center;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    border: .0625rem solid #919268;
    border-radius: 2rem;
    margin-top: 2rem
  }
  .social__list {
    gap: .25rem
  }
  .social__link img {
    position: relative;
    z-index: 2
  }
  .social__link::before {
    content: "";
    position: absolute;
    z-index: 0;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    width: 90%;
    height: 90%;
    border-radius: inherit;
    background-color: #151d20;
    transition: background-color .3s ease
  }
}
@media (min-width:30.06125em)and (any-hover:hover) {
  .footer__item:not(:last-child) .footer__link:hover::before,
  .menu__link:hover::before {
    width: 100%
  }
  .footer__link.link-form:hover {
    background-color: #919268;
    color: #e0ff05
  }
}
@media (min-width:43.81125em) {
  .info-values__item,
  .line-values,
  .values__items {
    grid-template-columns: repeat(3,1fr)
  }
  .values__content {
    aspect-ratio: 1320/520
  }
  .values__items._active {
    opacity: 0
  }
  .values__body {
    min-height: 100%
  }
  .info-values__item,
  .line-values,
  .values__item {
    -webkit-transform: translate(0,50%);
    transform: translate(0,50%)
  }
  .info-values__item {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    height: 100%
  }
  .info-values__item::after,
  .info-values__item::before {
    content: "";
    position: absolute;
    top: 0;
    width: calc(33% - 2px);
    height: 100%
  }
  .info-values__item::before {
    left: 67%;
    z-index: 1;
    background-color: #181d21
  }
  .info-values__item:after {
    left: 0;
    z-index: 0;
    background-color: #e1e1e1
  }
  .info-values__item._active::before {
    left: 0;
    transition: left .65s ease 0s
  }
  .info-values__video {
    order: 2;
    grid-column: 2/4
  }
  .info-values__video::before {
    content: "";
    position: absolute;
    z-index: 2;
    top: 0;
    left: 50%;
    -webkit-transform: translate(-50%,0);
    transform: translate(-50%,0);
    height: 100%;
    width: .5rem;
    background-color: #fff
  }
  .info-values__card img {
    margin-bottom: 3.125rem
  }
  .info-values__card {
    order: 1;
    z-index: 2;
    grid-column: 1/2
  }
  .info-values__top {
    margin-bottom: 1.25rem
  }
  .line-values__item::before,
  .values__body::before {
    -webkit-transform: translate(-50%,-60%) rotate(0);
    transform: translate(-50%,-60%) rotate(0)
  }
  ._active .line-values__item:before,
  ._active .values__item:nth-child(1) .values__body::before,
  .values__item:nth-child(1) ._active .values__body::before {
    -webkit-transform: translate(-50%,-60%) rotate(-90deg);
    transform: translate(-50%,-60%) rotate(-90deg);
    height: 60%
  }
  .line-values {
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    opacity: 0;
    transition: opacity .65s ease
  }
  .line-values._active {
    opacity: 1
  }
  .form {
    padding-bottom: 5.5rem
  }
  .footer__container {
    -webkit-transform: translate(0,-50%);
    transform: translate(0,-50%)
  }
  .footer__nav {
    grid-column: 2/3
  }
  .pages {
    gap: 1.875rem 1.25rem;
    flex-direction: column
  }
  .pages__list {
    gap: .625rem 2.625rem
  }
}
@media (min-width:48.06125em) {
  [class*=__container] {
    padding-left: 3.75rem;
    padding-right: 3.75rem
  }
  .info-values__item,
  .line-values,
  .values__items {
    max-width: calc(100vw - 120px)
  }
  .slide-advt__title .word {
    margin-bottom: -1.1875rem
  }
  .form__form {
    max-width: 32.5625rem
  }
  .footer {
    padding: 2.0625rem 0
  }
  .footer__nav {
    padding-bottom: 1.9375rem
  }
}
@media (min-width:51.31125em) {
  .hero__body {
    display: grid
  }
  .hero__rider {
    order: 2
  }
  .hero__img {
    width: 21.875rem
  }
  .hero__content {
    order: 1
  }
  .advantages__pagination {
    max-width: 50%
  }
  .advantages__buttons {
    bottom: 0;
    left: 0
  }
  .slide-advt__body {
    display: grid;
    grid-template-columns: 1fr 50%
  }
  .slide-advt__right {
    display: flex;
    flex-direction: column;
    justify-content: center
  }
}
@media (min-width:61.31125em) {
  .header__wrapper {
    padding-top: 1.875rem
  }
  .header__logo {
    width: 4.25rem
  }
  .logo-ac {
    width: 2.5rem;
    height: 1.3125rem
  }
  .menu__list {
    -webkit-column-gap: 33px;
    -moz-column-gap: 33px;
    column-gap: 33px;
    flex-wrap: wrap;
    align-items: center
  }
  .menu__item {
    opacity: 0;
    transition: opacity .65s ease
  }
  .loaded .menu__item {
    opacity: 1
  }
  .loaded .menu__item:nth-child(1) {
    transition-delay: 1s
  }
  .loaded .menu__item:nth-child(2) {
    transition-delay: 1.02s
  }
  .loaded .menu__item:nth-child(3) {
    transition-delay: 1.04s
  }
  .loaded .menu__item:nth-child(4) {
    transition-delay: 1.06s
  }
  .loaded .menu__item:nth-child(5) {
    transition-delay: 1.08s
  }
  .loaded .menu__item:nth-child(6) {
    transition-delay: 1.1s
  }
  .menu__link {
    font-size: .9375rem;
    -webkit-transform: translate(4.375rem,0);
    transform: translate(4.375rem,0);
    transition: -webkit-transform .45s ease;
    transition: transform .45s ease;
    transition: transform .45s ease,-webkit-transform .45s ease
  }
  ._scroll-dwn .menu__link {
    -webkit-transform: translate(0,0);
    transform: translate(0,0)
  }
}
@media (min-width:62.06125em) {
  .hero__body {
    grid-template-columns: 55% auto
  }
  .right-block__clm {
    grid-template-columns: auto 60%
  }
  .contacts__body,
  .footer__bottom,
  .footer__top {
    grid-template-columns: auto 56%
  }
}
@media (min-width:68.81125em) {
  .hero {
    padding-top: 17.5rem
  }
  .who__main--acc {
    grid-column: 2/3
  }
  .advantages__pagination {
    top: 1.875rem
  }
  .footer__item:not(:last-child) {
    margin-bottom: .625rem
  }
  .social__item {
    width: 2.5rem
  }
}
@media (min-width:90.06125em) {
  .input {
    font-size: 1.375rem
  }
  .who__right p {
    font-size: 1.25rem
  }
  .info-values__card {
    padding: 2.5rem
  }
  .info-values__card img {
    width: 8.75rem
  }
  .info-values__title {
    font-size: 3.125rem
  }
  .info-values__txts p {
    font-size: .9375rem
  }
  .info-values__txts p:not(:last-child) {
    margin-bottom: .625rem
  }
  .advantages__pagination {
    gap: 1.25rem
  }
  .advantages__pagination {
    padding-left: 3rem
  }
  .advantages__pagination {
    padding-right: 3rem
  }
  .advantages__button {
    width: 4.0625rem
  }
  .advantages__button svg {
    width: .9375rem
  }
  .slide-advt__left {
    padding-bottom: 9.125rem
  }
  .slide-advt__num {
    font-size: 6.875rem
  }
  .slide-advt__title {
    font-size: 4.875rem
  }
  .slide-advt__right {
    padding-top: 7.8125rem
  }
  .slide-advt__right {
    padding-bottom: 3.375rem
  }
  .slide-advt__right {
    padding-left: 3rem
  }
  .slide-advt__right {
    padding-right: 3rem
  }
  .right-block__clm:not(:last-child) {
    margin-bottom: 4.375rem
  }
  .right-block__big {
    font-size: 2.1875rem
  }
  .adrs__block {
    font-size: 1.5625rem
  }
  .adrs__item:not(:last-child) {
    margin-bottom: 1.875rem
  }
  .form__button {
    margin-top: 3.9375rem
  }
}
@media (min-width:120.06125em) {
  .values__big {
    font-size: 6.875rem
  }
}
@media (min-width:75em) {
  .values__body {
    padding-top: 3.125rem
  }
  .values__body {
    padding-bottom: 2.5rem
  }
}
@media (min-width:90em) {
  .hero__title {
    font-size: 6.875rem
  }
  .hero__title .lines:nth-child(1) .sub-line {
    padding-right: 8.875rem
  }
  .hero__title .lines:nth-child(1) .sub-line:before {
    width: 7.1875rem
  }
  .hero__btn {
    width: 4.9375rem
  }
  .who__main--aml {
    font-size: 6.875rem
  }
  .who__main--acc,
  .who__main--av {
    font-size: 6.875rem
  }
  ._active .line-values__item:before,
  ._active .values__item:nth-child(1) .values__body::before,
  .values__item:nth-child(1) ._active .values__body::before {
    top: 10.625rem
  }
}
@media (min-width:120em) {
  .title-main {
    font-size: 1.375rem
  }
  .focus__subtitle {
    font-size: 8rem
  }
}
@media (max-width:80em) {
  ._active .line-values__item:before,
  ._active .values__item:nth-child(1) .values__body::before,
  .values__item:nth-child(1) ._active .values__body::before {
    top: 8.4375rem
  }
}
@media (max-width:20em) {
  .values__body {
    padding-top: 1.875rem
  }
  .values__body {
    padding-bottom: 1.875rem
  }
}
@media (max-width:80.06125em) {
  .info-values__card {
    padding: 1.25rem
  }
  .info-values__title {
    font-size: 2.5rem
  }
}
@media (max-width:68.81125em) {
  .hero {
    padding-top: 20rem
  }
  .advantages__pagination {
    gap: .5625rem
  }
  .advantages__pagination {
    padding-left: 1.25rem
  }
  .advantages__pagination {
    padding-right: 1.25rem
  }
  .advantages__button {
    width: 3.125rem
  }
  .advantages__button svg {
    width: .75rem
  }
  .right-block__clm:not(:last-child) {
    margin-bottom: 1.875rem
  }
  .right-block__big {
    font-size: 1.625rem
  }
}
@media (max-width:62.06125em) {
  .info-values__txts p {
    font-size: .75rem
  }
}
@media (max-width:61.31125em) {
  .header__wrapper {
    padding-top: 1.25rem
  }
  .header__logo {
    width: 3.3125rem
  }
  .logo-ac {
    width: 2.875rem;
    height: 1.5rem
  }
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow: auto;
    padding-top: 3.125rem;
    padding-bottom: 1.875rem;
    background-color: #151d20;
    transition: opacity .3s ease;
    pointer-events: none;
    opacity: 0
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 4.375rem;
    left: 0;
    top: 0;
    z-index: 2;
    background-color: #151d20
  }
  .menu-open .menu__body {
    opacity: 1;
    pointer-events: all
  }
  .menu__list {
    padding-top: 5rem;
    padding-bottom: 3.125rem;
    flex-direction: column;
    justify-content: center;
    min-height: 100%;
    row-gap: 2.5rem
  }
  .menu__link {
    font-size: 1.625rem;
    overflow: hidden
  }
  .menu__link span {
    -webkit-transform: translateY(calc(-100% - 5px));
    transform: translateY(calc(-100% - 5px))
  }
  .menu-open .menu__link span {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    transition-delay: .2s
  }
  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5
  }
  .icon-menu span,
  .icon-menu::after,
  .icon-menu::before {
    content: "";
    transition: all .3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: .125rem;
    background-color: #919268
  }
  ._who-block .icon-menu span,
  ._who-block .icon-menu::after,
  ._who-block .icon-menu::before {
    background-color: #151d20
  }
  .icon-menu::before {
    top: 0
  }
  .icon-menu::after {
    bottom: 0
  }
  .icon-menu span {
    top: calc(50% - .0625rem)
  }
  .menu-open .icon-menu span {
    width: 0
  }
  .menu-open .icon-menu::before {
    top: calc(50% - .0625rem);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - .0625rem);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
  }
  .menu-open .icon-menu span,
  .menu-open .icon-menu::after,
  .menu-open .icon-menu::before {
    background-color: #919268
  }
}
@media (max-width:61.31125em)and (max-width:48.06125em) {
  .menu__body {
    padding-left: 1.25rem;
    padding-right: 1.25rem
  }
}
@media (max-width:61.31125em)and (any-hover:none) {
  .icon-menu {
    cursor: default
  }
}
@media (max-width:51.31125em) {
  .hero__img {
    top: 30%;
    left: 50%
  }
  .advantages__pagination {
    bottom: 1.25rem
  }
  .advantages__buttons {
    top: .625rem;
    right: 0
  }
  .slide-advt__body {
    display: flex;
    flex-direction: column
  }
  .slide-advt__right {
    padding-top: 1.25rem
  }
  .slide-advt__right {
    padding-bottom: 2.625rem
  }
  .slide-advt__right {
    padding-left: 1.25rem
  }
  .slide-advt__right {
    padding-right: 1.25rem
  }
  .slide-advt__right {
    flex: 1
  }
}
@media (max-width:51.25em) {
  .values__big {
    font-size: 3.75rem
  }
}
@media (max-width:48.06125em) {
  [class*=__container] {
    padding-left: 1.25rem;
    padding-right: 1.25rem
  }
  .title-main {
    font-size: 1.375rem
  }
  .slide-advt__title .word {
    margin-bottom: -.9375rem
  }
  .footer {
    padding: 4.375rem 0 2.0625rem
  }
  .footer__nav {
    padding-bottom: 4.375rem
  }
}
@media (max-width:43.81125em) {
  .values__item._active .values__body {
    opacity: 0
  }
  .values__body {
    position: absolute!important;
    inset: 0;
    transition: opacity .3s ease
  }
  .values__big {
    font-size: 5rem!important
  }
  .info-values__item {
    row-gap: 0;
    display: block;
    background-color: #181d21
  }
  .info-values__video {
    height: 0;
    transition: height .45s ease
  }
  .info-values__card img {
    margin-bottom: 4.375rem
  }
  .info-values__card {
    background-color: #181d21
  }
  .info-values__top {
    padding-top: .625rem;
    margin-bottom: 2.5rem;
    position: relative
  }
  .info-values__top::before {
    content: "";
    position: absolute;
    top: 55%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    height: .0625rem;
    width: 100%;
    background-color: #919268
  }
  .info-values__txts p {
    font-size: .9375rem!important
  }
  .info-values__txts {
    padding-bottom: .9375rem
  }
  .line-values__item::before,
  .values__body::before {
    top: 50%!important;
    height: 38%;
    -webkit-transform: translate(-50%,-50%) rotate(0);
    transform: translate(-50%,-50%) rotate(0)
  }
  .line-values {
    display: none
  }
  .footer__nav {
    padding-top: 2.5rem;
    border-color: rgba(145,146,104,.1)
  }
  .pages {
    gap: .625rem 1.25rem;
    flex-wrap: wrap
  }
  .pages__list {
    gap: .625rem 1.25rem
  }
}
@media (max-width:30.06125em) {
  .input {
    font-size: 1.125rem
  }
  .loaded .header__logo {
    transition-delay: .8s
  }
  .hero {
    padding-bottom: 10vh
  }
  .hero__img {
    width: calc(50vw - 40px)
  }
  .loaded .hero__title .lines:nth-child(1) .sub-line {
    transition-delay: .8s
  }
  .loaded .hero__title .lines:nth-child(2) .sub-line {
    transition: opacity .35s ease,-webkit-transform .85s ease;
    transition: transform .85s ease,opacity .35s ease;
    transition: transform .85s ease,opacity .35s ease,-webkit-transform .85s ease;
    transition-delay: 1.2s
  }
  .loaded .hero__title .lines:nth-child(3) .sub-line {
    transition: opacity .65s ease,-webkit-transform .85s ease;
    transition: transform .85s ease,opacity .65s ease;
    transition: transform .85s ease,opacity .65s ease,-webkit-transform .85s ease;
    transition-delay: 1.4s
  }
  .loaded .hero__btn {
    transition-delay: 1.5s
  }
  .hero__btn {
    bottom: .3125rem
  }
  .who {
    padding-top: 5rem;
    padding-bottom: 3.125rem
  }
  .who__right p {
    font-size: 1rem
  }
  .advantages,
  .contacts,
  .focus,
  .values {
    padding-top: 5rem
  }
  .info-values__card img {
    width: 7.75rem
  }
  .info-values__txts p:not(:last-child) {
    margin-bottom: .4375rem
  }
  .slide-advt__num {
    font-size: 3.75rem
  }
  .slide-advt__title {
    font-size: 2.625rem
  }
  .focus__el {
    width: 35%
  }
  .adrs__block {
    font-size: 1.125rem
  }
  .adrs__item:not(:last-child) {
    margin-bottom: 1.25rem
  }
  .form__button {
    margin-top: 2.5rem
  }
  .footer__logo {
    width: 6.5rem
  }
  .footer__item:not(:last-child) {
    margin-bottom: 1.5rem
  }
  .footer__link {
    font-size: 1.25rem
  }
  .footer__bottom {
    gap: 1.25rem
  }
  .social__list {
    gap: 1.25rem
  }
  .social__item {
    width: 3.125rem
  }
}
@media (max-width:24.375em) {
  .hero__title .lines:nth-child(1) .sub-line {
    padding-right: 6.0625rem
  }
  .hero__title .lines:nth-child(1) .sub-line:before {
    width: 4.375rem
  }
  .hero__btn {
    width: 2.8125rem
  }
}
@media (max-width:23.4375em) {
  .hero__title {
    font-size: 3.125rem
  }
  .who__main--aml {
    font-size: 3.875rem
  }
  .who__main--acc,
  .who__main--av {
    font-size: 3.625rem
  }
  .focus__subtitle {
    font-size: 4.375rem
  }
}
@media (max-width:23.37375em) {
  .adrs__txt {
    font-size: 4.375rem
  }
}
@media (min-width:30.06125em)and (max-width:90.06125em) {
  .input {
    font-size: clamp(1.125rem ,.9997447917rem + .4166666667vw ,1.375rem)
  }
  .who__right p {
    font-size: clamp(1rem ,.8747447917rem + .4166666667vw ,1.25rem)
  }
  .info-values__card img {
    width: clamp(7.75rem ,7.2489791667rem + 1.6666666667vw ,8.75rem)
  }
  .info-values__txts p:not(:last-child) {
    margin-bottom: clamp(.4375rem ,.3435585938rem + .3125vw ,.625rem)
  }
  .slide-advt__num {
    font-size: clamp(3.75rem ,2.1843098958rem + 5.2083333333vw ,6.875rem)
  }
  .slide-advt__title {
    font-size: clamp(2.625rem ,1.497703125rem + 3.75vw ,4.875rem)
  }
  .adrs__block {
    font-size: clamp(1.125rem ,.9058033854rem + .7291666667vw ,1.5625rem)
  }
  .adrs__item:not(:last-child) {
    margin-bottom: clamp(1.25rem ,.9368619792rem + 1.0416666667vw ,1.875rem)
  }
  .form__button {
    margin-top: clamp(2.5rem ,1.7797825521rem + 2.3958333333vw ,3.9375rem)
  }
}
@media (min-width:90.06125em)and (max-width:120em) {
  .title-main {
    font-size: clamp(1.25rem ,.8739770782rem + .4175191015vw ,1.375rem)
  }
  .focus__subtitle {
    font-size: clamp(6.875rem ,3.4907937038rem + 3.7576719135vw ,8rem)
  }
}
@media (min-width:48.06125em)and (max-width:90.06125em) {
  .title-main {
    font-size: clamp(1.25rem ,1.5180394345rem + -.2976190476vw ,1.375rem)
  }
}
@media (max-width:61.31125em)and (min-width:48.06125em) {
  .menu__body {
    padding-left: 3.75rem;
    padding-right: 3.75rem
  }
}
@media (max-width:62.06125em)and (min-width:51.31125em) {
  .hero__body {
    grid-template-columns: 65% auto
  }
}
@media (max-width:51.31125em)and (min-width:30.06125em) {
  .hero__img {
    width: 18.75rem
  }
}
@media (max-width:51.31125em)and (min-width:37.56125em) {
  .hero__content {
    max-width: 70%
  }
}
@media (max-width:37.56125em)and (min-width:22.56125em) {
  .hero__content {
    max-width: 87%;
    padding-left: .625rem
  }
  .hero__btn {
    left: .625rem
  }
}
@media (min-width:23.4375em)and (max-width:90em) {
  .hero__title {
    font-size: clamp(3.125rem ,1.8045774648rem + 5.6338028169vw ,6.875rem)
  }
  .who__main--aml {
    font-size: clamp(3.875rem ,2.8186619718rem + 4.5070422535vw ,6.875rem)
  }
}
@media (min-width:24.375em)and (max-width:90em) {
  .hero__title .lines:nth-child(1) .sub-line {
    padding-right: clamp(6.0625rem ,5.0178571429rem + 4.2857142857vw ,8.875rem)
  }
  .hero__title .lines:nth-child(1) .sub-line:before {
    width: clamp(4.375rem ,3.3303571429rem + 4.2857142857vw ,7.1875rem)
  }
  .hero__btn {
    width: clamp(2.8125rem ,2.0232142857rem + 3.2380952381vw ,4.9375rem)
  }
}
@media (min-width:80.06125em)and (max-width:90em) {
  .who__main--acc,
  .who__main--av {
    font-size: clamp(5.625rem ,-4.4443309018rem + 12.5770343353vw ,6.875rem)
  }
}
@media (min-width:23.4375em)and (max-width:80.06125em) {
  .who__main--acc,
  .who__main--av {
    font-size: clamp(3.625rem ,2.797167156rem + 3.532086801vw ,5.625rem)
  }
}
@media (max-width:48.06125em)and (min-width:43.81125em) {
  .info-values__item,
  .line-values,
  .values__items {
    max-width: calc(100vw - 40px)
  }
}
@media (min-width:20em)and (max-width:75em) {
  .values__body {
    padding-top: clamp(1.875rem ,1.4204545455rem + 2.2727272727vw ,3.125rem)
  }
  .values__body {
    padding-bottom: clamp(1.875rem ,1.6477272727rem + 1.1363636364vw ,2.5rem)
  }
}
@media (min-width:80.06125em)and (max-width:120.06125em) {
  .values__big {
    font-size: clamp(6.25rem ,4.9990429688rem + 1.5625vw ,6.875rem)
  }
}
@media (min-width:51.25em)and (max-width:80.06125em) {
  .values__big {
    font-size: clamp(3.75rem ,-.6970475943rem + 8.6771660376vw ,6.25rem)
  }
}
@media (min-width:80.06125em)and (max-width:90.06125em) {
  .info-values__card {
    padding: clamp(1.25rem ,-8.75765625rem + 12.5vw ,2.5rem)
  }
  .info-values__title {
    font-size: clamp(2.5rem ,-2.503828125rem + 6.25vw ,3.125rem)
  }
}
@media (min-width:62.06125em)and (max-width:90.06125em) {
  .info-values__txts p {
    font-size: clamp(.75rem ,.3344112723rem + .6696428571vw ,.9375rem)
  }
}
@media (min-width:80em)and (max-width:90em) {
  ._active .line-values__item:before,
  ._active .values__item:nth-child(1) .values__body::before,
  .values__item:nth-child(1) ._active .values__body::before {
    top: clamp(8.4375rem ,-9.0625rem + 21.875vw ,10.625rem)
  }
}
@media (max-width:53.18625em)and (min-width:43.81125em) {
  ._active .line-values__item:before,
  ._active .values__item:nth-child(1) .values__body::before,
  .values__item:nth-child(1) ._active .values__body::before {
    height: 45%
  }
}
@media (min-width:68.81125em)and (max-width:90.06125em) {
  .advantages__pagination {
    gap: clamp(.5625rem ,-1.6637463235rem + 3.2352941176vw ,1.25rem)
  }
  .advantages__pagination {
    padding-left: clamp(1.25rem ,-4.4168088235rem + 8.2352941176vw ,3rem)
  }
  .advantages__pagination {
    padding-right: clamp(1.25rem ,-4.4168088235rem + 8.2352941176vw ,3rem)
  }
  .advantages__button {
    width: clamp(3.125rem ,.0892095588rem + 4.4117647059vw ,4.0625rem)
  }
  .advantages__button svg {
    width: clamp(.75rem ,.1428419118rem + .8823529412vw ,.9375rem)
  }
  .right-block__clm:not(:last-child) {
    margin-bottom: clamp(1.875rem ,-6.2204411765rem + 11.7647058824vw ,4.375rem)
  }
  .right-block__big {
    font-size: clamp(1.625rem ,-.1964742647rem + 2.6470588235vw ,2.1875rem)
  }
}
@media (max-width:68.81125em)and (min-width:51.31125em) {
  .advantages__pagination {
    top: 1.25rem
  }
}
@media (min-width:51.31125em)and (max-width:90.06125em) {
  .slide-advt__left {
    padding-bottom: clamp(4.0625rem ,-2.6410665323rem + 13.064516129vw ,9.125rem)
  }
  .slide-advt__right {
    padding-top: clamp(1.25rem ,-7.4398084677rem + 16.935483871vw ,7.8125rem)
  }
  .slide-advt__right {
    padding-bottom: clamp(2.625rem ,1.6318790323rem + 1.935483871vw ,3.375rem)
  }
  .slide-advt__right {
    padding-left: clamp(1.25rem ,-1.0672822581rem + 4.5161290323vw ,3rem)
  }
  .slide-advt__right {
    padding-right: clamp(1.25rem ,-1.0672822581rem + 4.5161290323vw ,3rem)
  }
}
@media (min-width:23.4375em)and (max-width:90.06125em) {
  .focus__subtitle {
    font-size: clamp(4.375rem ,3.4955275896rem + 3.7524156176vw ,6.875rem)
  }
}
@media (max-width:62.06125em)and (min-width:43.81125em) {
  .contacts__body,
  .footer__bottom,
  .footer__top {
    grid-template-columns: 1fr 1fr
  }
}
@media (min-width:30.06125em)and (max-width:68.81125em) {
  .footer__item:not(:last-child) {
    margin-bottom: clamp(.625rem ,2.1788024194rem + -2.2580645161vw ,1.5rem)
  }
  .social__item {
    width: clamp(2.5rem ,3.609858871rem + -1.6129032258vw ,3.125rem)
  }
}
@media (min-height:90.06125em) {
  .advantages,
  .contacts,
  .hero,
  .values,
  .who {
    max-height: 93.75rem;
    height: 100svh;
    min-height: auto
  }
}
@media (any-hover:hover) {
  .form__button:hover {
    background-color: #fff;
    color: #151d20
  }
  .social__link:hover::before {
    background-color: #e0ff05
  }
  .pages__link:hover {
    opacity: 1
  }
}