%sectionsHeigth {
  min-height: 100svh;
  @media (min-height:toEm(1440.98)){
    max-height: toRem(1500);
    height: 100svh;
    min-height: auto;
  }
}

.hero {
  opacity: 0;
  display: flex;
  @extend %sectionsHeigth;
  .loaded & {
    opacity: 1;
    transition: .2s ease;
  }
  @media (min-width:toEm(1100.98)){
    padding-top: toRem(280);      
  }
  @media (max-width: toEm(1100.98)){
    padding-top: toRem(320);
  }
  
  @media (min-width:$mobileSmall){
    padding-bottom: 14vh;
  }
  @media (max-width:$mobileSmall){
     padding-bottom: 10vh; 
  }
  // .hero__container
  &__container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  // .hero__body
  &__body {
    @media (min-width:$tablet){
      grid-template-columns: 55% auto;
    }
    // @media (min-width:toEm(820.98)){
    //   column-gap: toRem(45);
    // }
    @media (max-width:$tablet) and (min-width: toEm(820.98)){
      grid-template-columns: 65% auto;
    }
    @media (min-width:toEm(820.98)){
        display: grid;
    }
  }
  // .hero__rider
  &__rider {
    @media (min-width:toEm(820.98)){
      order: 2;
    }
  }
  // .hero__img
  &__img {
    position: fixed;
    z-index: 9;
    height: auto;
    transform: translate(-50%,0);
    filter: invert(70%) sepia(3%) saturate(2608%) hue-rotate(23deg) brightness(80%) contrast(98%);
    &._anim-end {
      z-index: 11;
    }
    ._who-block & {
      filter: invert(10%) sepia(7%) saturate(1566%) hue-rotate(151deg) brightness(100%) contrast(98%);
    }
    .menu-open & {
      filter: invert(70%) sepia(3%) saturate(2608%) hue-rotate(23deg) brightness(80%) contrast(98%);
    }
    @media (min-width:toEm(1500.98)){
      top: 38%;
      left: 70%;
    }
    @media (max-width: toEm(1500.98)) and (min-width: toEm(820.98)){
      top: 30%;
      left: 75%;
    }
    // @media (max-width: toEm(1100.98)) and (min-width: toEm(820.98)){
    //   top: 30%;
    //   left: 50%;
    // }
    @media (min-width:toEm(1100.98)){
        width: toRem(432);
    }
    @media (max-width: toEm(1100.98)) and (min-width: $mobileSmall) {
         width: toRem(370);
    }
    @media (max-width: toEm(820.98)){
      top: 20%;
      left: 50%;
    }
    // @media (min-width:$mobileSmall){
    //   width: 432px;
    // }
    @media (max-width:$mobileSmall){
       width: calc(100vw - 40px);
    }
  }
  // .hero__content
  &__content {
    position: relative;
    @media (min-width:toEm(820.98)){
      order: 1;
    }
    @media (max-width: toEm(820.98)) and (min-width: toEm(600.98)) {
        max-width: 70%;
    }
  }
  // .hero__title
  &__title {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    @include adaptiveValue("font-size", 110, 62,0,1440,375);
    span {
      display: inline-block;
    }
    @media (min-width:$mobileSmall){
      padding-top: 6px;
      line-height: 1;
    }
    .lines {
      position: relative;
      &:nth-child(1),
      &:nth-child(2) {
        display: grid;
        grid-template-columns: auto 1fr;
        span {
          &:nth-child(2) {
            position: relative;
            z-index: 5;
            &::before {
              content:'';
              position: absolute;
              top: toRem(-6);
              left: 0;
              width: 100%;
              height: calc(100% + 6px);
              background-color: $dark;
            }
          }
        }
      }
      &:nth-child(3) {
        line-height: 1.1;
        text-align: end;
      }
      .sub-line {
        transition: transform .85s cubic-bezier(.22,.89,.34,.96), opacity .45s ease;
        opacity: 0;
        
        &.first {
          position: relative;
          transform: translate(100%, 0);
          @include adaptiveValue("padding-right", 142, 97,0,1440,390);
          &::after {
            content:'';
            position: absolute;
            top: 38%;
            right: 0;
            background-color: $mainColor;
            height: toRem(1.5);
            @include adaptiveValue("width", 115, 70,0,1440,480);
          }
        }
        &.second {
          transform: translate(50%, 0);
        }
        &.third {
          position: relative;
          color: $lihtgGreen;
          transform: translate(50%, 0);
        }
        .loaded & {
          opacity: 1;
          transform: translate(0%, 0);
        }
      }
    }
  }
  // .hero__btn
  &__btn {
    position: absolute;
    left: 0;
    display: grid;
    aspect-ratio: 1/1;
    height: auto;
    @include adaptiveValue("width", 79, 50,0,1440,390);
    img {
      width: 100%;
      height: auto;
    }
    @media (min-width:$mobileSmall){
      bottom: toRem(20);
    }
    @media (max-width:$mobileSmall){
      bottom: toRem(10);        
    }
  }
}

%flexContainer {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: toRem(30);
}

// === WHO SECTION ===================================
.who {
  background-color: $mainColor;
  color: $dark;
  display: flex;
  @extend %sectionsHeigth;
  @media (min-width:$mobileSmall){
    padding-top: toRem(130);
    padding-bottom: toRem(80);
  }
  @media (max-width:$mobileSmall){
    padding-top: toRem(80);
    padding-bottom: toRem(50);
  }
  // .who__container
  &__container {
    @extend %flexContainer;
  }
	// .who__content
	&__content {
    display: grid;
    gap: toRem(10);
    @media (min-width:$mobileSmall){
      grid-template-columns: 1fr 56%;
    }
  }
	// .who__title
	&__title {
    
  }
	// .who__right
	&__right {
    @extend %fontFamily;
    p {
      max-width: toRem(628);
      line-height: 1;
      @include adaptiveValue("font-size", 20, 16,0,1440.98,480.98);
      &.split-words {
        .word {
          overflow: hidden;
          .word-span {
            padding-bottom: toRem(3);
            display: inline-block;
            transform: translateY(100%);
            transition: transform .55s cubic-bezier(.22,.89,.34,.96);
          }
        }
        &._watcher-view {
          .word-span {
            transform: translateY(0);
            transition-delay: calc(0.3s + var(--index) * 0.03s);
          }
        }
      }
    }
	}
	// .who__main
	&__main {
    display: grid;
    span {
      display: inline-block;
    }
    .anim {
      overflow: hidden;
      span {
        opacity: 0;
        transform: translate(50%,0);
        transition: transform .85s cubic-bezier(.22,.89,.34,.96), opacity .3s ease;
      }
      &:nth-child(1) {
        span {
          transition-delay: .1s;
        }
      }
      &:nth-child(2) {
        span {
          transition-delay: .2s;
        }
      }
      &:nth-child(3) {
        span {
          transition-delay: .3s;
        }
      }
    }
 
    &._watcher-view {
      .anim {
        overflow: hidden;
        span {
          opacity: 1;
          transform: translate(0,0);
        }
      }
    }
	}
  // .who__main--aml
  &__main--aml {
    @include adaptiveValue("font-size", 110, 62,0,1440,375);
  }
  &__main--av,
  &__main--acc {
    @include adaptiveValue("font-size", 110, 90,2,1440,1280.98);
    @include adaptiveValue("font-size", 90, 58,3,1280.98,375);
  }
  // .who__main--av
  &__main--av {
  }
  // .who__main--acc
  &__main--acc {
    color: $lihtgGreen;
    @media (min-width:toEm(1100.98)){
      grid-column: 2/3;
    }
  }
}




%itemsValuesGrid {
  display: grid;
  width: 100%;
  gap: toRem(20) toRem(8);
  @media (min-width:toEm(700.98)){
    grid-template-columns: repeat(3,1fr);
  }
  @media (min-width:$mobile){
    max-width: calc(100vw - 120px);
  }
  @media (max-width:$mobile) and (min-width: toEm(700.98)) {
    max-width: calc(100vw - 40px);
  }
}

%paddingSection {
  display: flex;
  padding-bottom: toRem(60);
  @media (min-width:$mobileSmall){
    padding-top: toRem(130);
  }
  @media (max-width:$mobileSmall){
    padding-top: toRem(80);
  }
}

// === VALUES SECTION ===================================
.values {
  overflow: hidden;
  background-color: #fff;
  @extend %sectionsHeigth;
  @extend %paddingSection;
  // .values__container
  &__container {
    @extend %flexContainer;
  }
	// .values__title
	&__title {
    color: $dark;
	}
	// .values__content
	&__content {
    position: relative;
    @media (min-width:toEm(700.98)){
      aspect-ratio: 1320/520;
    }
	}
	// .values__items
	&__items {
    @extend %itemsValuesGrid;
    position: relative;
    z-index: 0;
    height: 100%;
    transition: opacity .35s ease;
    @media (min-width:toEm(700.98)){
      &._active {
        opacity: 0;
      }
    }
	}
	// .values__item
	&__item {
    background-color: $gray;
    position: relative;

    &:nth-child(1) {
      .values__body {
        &::before {
          @extend %beforeActive;
        }
      }
    }
    &._active {
      @media (max-width:toEm(700.98)){
        .values__body {
          opacity: 0;
        }
      }
    }
    @extend %transformGSAP;
  }
	// .values__body
	&__body {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    @extend %beforCardValues;
    @include adaptiveValue("padding-top", 50, 30);
    @include adaptiveValue("padding-bottom", 40, 30);
    @media (min-width:toEm(700.98)){
        min-height: 100%;
    }
    @media (max-width: toEm(700.98)){
        position: absolute !important;
        inset: 0;
        transition: opacity .3s ease;
        &::before {

        }
    }
	}
	// .values__sm
	&__sm {
    font-size: toRem(50);
	}
	// .values__big
	&__big {
    line-height: 1;
    @include adaptiveValue("font-size", 110, 100,2,1920.98,1280.98);
    @include adaptiveValue("font-size", 100, 60,3,1280.98,820);
    @media (max-width: toEm(700.98)){
        font-size: toRem(80) !important;
    }
	}
  // .values__line
  &__line {
  }
}

%transformGSAP {
  @media (min-width:toEm(700.98)){
    transform: translate(0,50%);
  }
}

.info-values {
  // .info-values__item
	&__item {
    transition: opacity .65s ease;
    opacity: 0;
    pointer-events: none;
    @extend %itemsValuesGrid;
    @extend %transformGSAP;
    @media (min-width:toEm(700.98)){
      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;
      height: 100%;
      // aspect-ratio: 1320/520;
      &::before,
      &::after {
        content:'';
        position: absolute;
        top: 0;
        width: calc(33% - 2px);
        height: 100%;
      }
      &::before {
        left: 67%;
        z-index: 1;
        background-color: $dark2;
      }
      &:after {
        left: 0;
        z-index: 0;
        background-color: $gray;
      }
    }
    @media (max-width: toEm(700.98)){
        row-gap: 0;
        display: block;
        background-color:$dark2;
    }
    &._active {
      opacity: 1;
      @media (min-width:toEm(700.98)){
      &::before {
        left: 0;
        transition: left .65s ease .0s;
      }
      }
    }
	}
	// .info-values__video
	&__video {
    position: relative;
    z-index: 0;
    overflow: hidden;
    @media (min-width:toEm(700.98)){
      order: 2;
      grid-column: 2/4;
    }
    &--01 {}
    &--02 {}
    &--03 {}
    
    @media (max-width: toEm(700.98)){
        height: 0;
        transition: height .45s ease;
    }
    video {
    }
    &::before {
      @media (min-width:toEm(700.98)){
        content:'';
        position: absolute;
        z-index: 2;
        top: 0;
        left: 50%;
        transform: translate(-50%,0);
        height: 100%;
        width: toRem(8);
        background-color: #fff;
      }
    }
	}
	// .info-values__card
	&__card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    @include adaptiveValue("padding", 40, 20,0,1440.98,1280.98);
    
    img {
      height: auto;
      @include adaptiveValue("width", 140, 124,0,1440.98,480.98);
      @media (min-width:toEm(700.98)){
        margin-bottom: toRem(50);
      }
      @media (max-width:toEm(700.98)){
        margin-bottom: toRem(70);
      }
    }
    @media (min-width:toEm(700.98)){
      order: 1;
      z-index: 2;
      grid-column: 1/2;
    }
    @media (max-width: toEm(700.98)){
      background-color: $dark2;
    }
	}
	// .info-values__top
	&__top {
    width: 100%;
    @media (min-width:toEm(700.98)){
      margin-bottom: toRem(20);
    }
    @media (max-width: toEm(700.98)){
        padding-top: toRem(10);
        margin-bottom: toRem(40);
        position: relative;
        &::before {
          content:"";
          position: absolute;
          top: 55%;
          left: 50%;
          transform: translate(-50%,-50%);
          height: toRem(1);
          width: calc(100%);
          background-color: $mainColor;
        }
    }
	}
	// .info-values__title
	&__title {
    line-height: 1;
    @include adaptiveValue("font-size", 50, 40,0,1440.98,1280.98);
	}
	// .info-values__txts
	&__txts {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    p {
      @extend %fontFamily;
      // font-size: toRem(15);
      @include adaptiveValue("font-size", 15, 12,0,1440.98,992.98);
      &:not(:last-child) {
        @include adaptiveValue("margin-bottom", 10, 7,0,1440.98,480.98);
      }
      @media (max-width: toEm(700.98)){
          font-size: toRem(15) !important;
      }
    }
    @media (max-width: toEm(700.98)){
        padding-bottom: toRem(15);
    }
	}
}

%beforCardValues {
  position: relative;
    &::before {
      content:'';
      position: absolute;
      z-index: 2;
      left: 50%;
      top: 50%;
      height: 40%;
      width: toRem(1);
      background-color: $mainColor;
      transition: all .45s ease;
      @media (min-width:toEm(700.98)){
        transform: translate(-50%,-60%) rotate(0deg);
      }
      @media (max-width: toEm(700.98)){
          // top: toRem(135) !important;
          top: 50% !important;
          height: 38%;
          transform: translate(-50%,-50%) rotate(0deg);
          // transform: translate(-50%,-60%) rotate(-90deg);
      }
    }
}

%beforeActive {
  ._active & {
    @include adaptiveValue("top", 170, 135,0,1440,1280);
    @media (min-width:toEm(700.98)){
      transform: translate(-50%,-60%) rotate(-90deg);
      height: 60%;
    }
    @media (max-width: toEm(850.98)) and (min-width: toEm(700.98)) {
        height: 45%;
    }
  }
}

.line-values {
  @extend %itemsValuesGrid;
  @extend %transformGSAP;
  @media (min-width:toEm(700.98)){
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    opacity: 0;
    transition: opacity .65s ease;
      
    &._active {
      opacity: 1;
    }
  }
  @media (max-width: toEm(700.98)){
    display: none;
  }
  // .line-values__item
  &__item {
    @extend %beforCardValues;
    &:before {
      @extend %beforeActive;
    }
  }
}



// === ADVANTAGES SECTION ===================================
.advantages {
  background-color: #fff;
  overflow: hidden;
  @extend %sectionsHeigth;
  @extend %paddingSection;
  &._watcher-view {
    .advantages__content {
      opacity: 1;
      transform: translate(0,0)
    }
  }
  // .advantages__container
  &__container {
    @extend %flexContainer;
  }
  // .advantages__title
  &__title {
  }
	// .advantages__content
	&__content {
    opacity: 0;
    transform: translate(0,50%);
    transition: transform .65s ease, opacity .45s ease;
	}
  // .advantages__slider
  &__slider {
    position: relative;
  }
  // .advantages__wrapper
  &__wrapper {
  }
  // .advantages__slide
  &__slide {
  }
  // .advantages__pagination
  &__pagination {
    position: absolute;
    right: 0;
    width: 100%;
    height: toRem(2);
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    @include adaptiveValue("gap", 20, 9,0,1440.98,1100.98);
    @include adaptiveValue("padding-left", 48, 20,0,1440.98,1100.98);
    @include adaptiveValue("padding-right", 48, 20,0,1440.98,1100.98);
    @media (min-width:toEm(1100.98)){
      top: toRem(30);
    }
    @media (max-width: toEm(1100.98)) and (min-width: toEm(820.98)) {
      top: toRem(20);
    }
    @media (min-width:toEm(820.98)){
      max-width: 50%;
    }
    @media (max-width: toEm(820.98)){
      bottom: toRem(20)
    }
    .swiper-pagination-bullet {
      display: block;
      width: 100%;
      height: 100%;
      background-color: #fff;
      transition: background-color .3s ease;
      &.swiper-pagination-bullet-active {
        background-color: $mainColor;
      }
    }
    
  }
	// .advantages__buttons
	&__buttons {
    display: flex;
    align-items: center;
    position: absolute;
    gap: toRem(10);
    @media (min-width:toEm(820.98)){
      bottom: 0;
      left: 0;
    }
    @media (max-width: toEm(820.98)){
      top: toRem(10);
      right: 0;        
    }
	}
  // .advantages__button
  &__button {
    display: grid;
    place-items: center;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: toRem(1) solid $mainColor;
    transition: background-color .3s ease;
    @include adaptiveValue("width", 65,50,0,1440.98,1100.98 );
    svg {
      position: relative;
      height: auto;
      @include adaptiveValue("width", 15,12,0,1440.98,1100.98 );
      path {
        transition: fill .3s ease;
      }
    }
    &.swiper-button-prev {
      svg {
        left: -4%;
      }
    }
    &.swiper-button-next {
      svg {
        right: -4%;
      }
    }
    &.swiper-button-disabled {
      // opacity: .5;
      // pointer-events: none;
    }
    &:hover{
      background-color: $mainColor;
      svg {
        path {
          fill: #fff;
        }
      }
    }
  }
}

.slide-advt {
  // .slide-advt__body
  &__body {
    gap: toRem(30) toRem(10);
    height: 100%;
    @media (min-width:toEm(820.98)){
      display: grid;
      grid-template-columns: 1fr 50%;
    }
    @media (max-width: toEm(820.98)){
        display: flex;
        flex-direction: column;
    }
  }
  // .slide-advt__left
  &__left {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    @include adaptiveValue("padding-bottom", 146, 65,2,1440.98,820.98);
  }
  // .slide-advt__num
  &__num {
    color: $lihtgGreen;
    @include adaptiveValue("font-size", 110, 60,0,1440.98,480.98);
  }
  // .slide-advt__title
  &__title {
    line-height: 1;
    @include adaptiveValue("font-size", 78, 42,0,1440.98,480.98);
    .word {
      overflow: hidden;
      @media (min-width:$mobile){
        margin-bottom: toRem(-19);
      }
      @media (max-width:$mobile){
        margin-bottom: toRem(-15);          
      }
      .word-span {
        padding-top: toRem(5);
        padding-bottom: toRem(8);
        display: inline-block;
        transform: translateY(100%);
        transition: transform .65s cubic-bezier(.22,.89,.34,.96);
        .swiper-slide-active & {
          transform: translateY(0);
          transition-delay: calc(var(--index) * .03s);
        }
      }
    }
  }
  // .slide-advt__right
  &__right {
    background-color: $gray;
    @include adaptiveValue("padding-top", 125, 20,0,1440.98,820.98);
    @include adaptiveValue("padding-bottom", 54, 42,0,1440.98,820.98);
    @include adaptiveValue("padding-left", 48, 20,0,1440.98,820.98);
    @include adaptiveValue("padding-right", 48, 20,0,1440.98,820.98);
    @media (min-width:toEm(820.98)){
      display: flex;
      flex-direction: column;
      justify-content: center;
        
    }
    @media (max-width: toEm(820.98)){
        flex: 1;
    }
  }
}

.right-block {
  // .right-block__clm
  &__clm {
    display: grid;
    gap: toRem(5) toRem(10);
    @media (min-width:$tablet){
      grid-template-columns: auto 60%;
    }
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 70, 30,0,1440.98,1100.98);
    }
  }
  // .right-block__big
  &__big {
    @include adaptiveValue("font-size", 35, 26,0,1440.98,1100.98);
  }
  // .right-block__sm
  &__sm {
    @extend %fontFamily;
    font-size: toRem(15);
  }
}


// === FOCUS SECTION ===================================
.focus {
  min-height: 100svh;
  position: relative;
  overflow: hidden;
  @extend %paddingSection;
  // .focus__container
  &__container {
    position: relative;
    z-index: 2;
    @extend %flexContainer;
  }
  // .focus__title
  &__title {
  }
  // .focus__subtitle
  &__subtitle {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    line-height: 1;
    padding: 0 toRem(20);
    @include adaptiveValue("font-size", 128, 110,2,1920,1440.98);
    @include adaptiveValue("font-size", 110, 70,3,1440.98,375);
    span {
      color: $lihtgGreen;
    }
    @media (min-width:$mobileSmall){
      text-align: center;
    }
  }
  // .focus__el
  &__el {
    position: absolute;
    z-index: 0;
    top: 120%;
    left: 50%;
    transform: translate(-50%,-50%);
    aspect-ratio: 1/1;
    @media (min-width:$mobileSmall){
      width: 25%;
    }
    @media (max-width:$mobileSmall){
       width: 35%; 
    }
  }
  // .focus__img
  &__img {
  }
}


// === CONTACTS SECTION ===================================
.contacts {
  background-color: #fff;
  @extend %sectionsHeigth;
  @extend %paddingSection;
  // .contacts__container
  &__container {
    @extend %flexContainer;
  }
  // .contacts__title
  &__title {
  }
  // .contacts__body
  &__body {
    @extend %contcsFooterGrid;
  }
  // .contacts__adrs
  &__adrs {
  }
  // .contacts__form
  &__form {
  }
}

.adrs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: toRem(70) toRem(0);
  // .adrs__block
  &__block {
    @extend %fontFamily;
    max-width: toRem(400);
    @include adaptiveValue("font-size", 25, 18,0,1440.98,480.98);
  }
  // .adrs__item
  &__item {
    p {
      color: $dark;
      margin-bottom: toRem(10);
    }
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 30, 20,0,1440.98,480.98);
    }
  }
  // .adrs__link
  &__link {
  }
  // .adrs__txt
  &__txt {
    display: flex;
    flex-wrap: wrap;
    line-height: 1; 
    span {
      display: inline-block;
      overflow: hidden;
    }
    .word {
      position: relative;
      // top:10px;
      padding-top: toRem(5);
      transform: translateY(100%);
      transition: transform .55s cubic-bezier(.22,.89,.34,.96);
    }
    &._watcher-view {
      .word {
        transform: translateY(0);
        transition-delay: calc(0.0s + var(--index) * 0.05s);
      }
    }
    @media (min-width:toEm(373.98)){
      font-size: toRem(80);
    }
    @media (max-width:toEm(373.98)){
      font-size: toRem(70);
    }
  }
}

.form {
  @media (min-width:toEm(700.98)){
    padding-bottom: toRem(88);
  }
  // .form__form
  &__form {
    &._sending {
      .form__button {
        opacity: 0.5;
        pointer-events: none;
      }
    }
    @media (min-width:$mobile){
      max-width: toRem(521);
    }
  }
  // .form__item
  &__item {
    &:not(:last-child) {
      margin-bottom: toRem(10);
    }
    .input {
      @extend %fontFamily;
    }
  }
  // .form__button
  &__button {
    font-size: toRem(18);
    color: $lihtgGreen;
    background-color: $mainColor;
    min-height: toRem(65);
    display: grid;
    place-items: center;
    padding: toRem(10);
    width: 100%;
    border-radius: toRem(97);
    border: toRem(1) solid $mainColor;
    transition: background-color .3s ease, color .3s ease;
    @extend %fontFamily;
    @include adaptiveValue("margin-top", 63, 40,0,1440.98,480.98);
    @media (any-hover: hover){
      &:hover{
        background-color: #fff;
        color: $dark;
      }
    }
    @media (min-width:$mobileSmall){
      max-width: toRem(242);
    }
  }
}


// === FOOTER SECTION ===================================
%contcsFooterGrid {
  display: grid;
  gap: toRem(40);
  @media (min-width:$tablet){
    grid-template-columns: auto 56%;
  }
  @media (max-width:$tablet) and (min-width: toEm(700.98)) {
    grid-template-columns: 1fr 1fr;
  }
}
.footer {
  overflow: hidden;
  @extend %fontFamily;
  &._watcher-view {
    .footer__logo,
    .social__link,
    .pages__item {
      opacity: 1;
    }
    .footer__link {
      transform: translate(0,0);
    }
    .footer__nav {
      border-color:  rgb(145, 146, 104, 1);
      transition-delay: 0.22s;
    }
    // .social__link {
    //   opacity: 1;
    // }
    // .pages__item {
    //   opacity: 1;
    // }
    .pages__copy {
      opacity: .5;
    }
  }
  @media (min-width:$mobile){
    padding: toRem(33) 0;
  }
  @media (max-width:$mobile){
    padding: toRem(70) 0 toRem(33);
  }
  // .footer__container
  &__container {
    @media (min-width:toEm(700.98)){
      transform: translate(0,-50%);
    }
  }
  // .footer__logo
  &__logo {
    filter: invert(70%) sepia(3%) saturate(2608%) hue-rotate(23deg) brightness(80%) contrast(98%);
    height: auto;
    opacity: 0;
    transition: opacity .65s ease;
    @media (min-width:$mobileSmall){
       width: toRem(68); 
    }
    @media (max-width:$mobileSmall){
       width: toRem(104); 
    }
  }
  // .footer__top
  &__top {
    @extend %contcsFooterGrid;
  }
  // .footer__nav
  &__nav {
    border-bottom: toRem(1) solid rgb(145, 146, 104, 0);
    transition: border .45s ease;
    @media (min-width:toEm(700.98)){
      grid-column: 2/3;
    }
    @media (max-width: toEm(700.98)){
        padding-top: toRem(40);
        border-color: rgb(145, 146, 104, 0.1);
    }
    @media (min-width:$mobile){
      padding-bottom: toRem(31);
    }
    @media (max-width:$mobile){
      padding-bottom: toRem(70);        
    }
  }
  // .footer__list
  &__list {
  }
  // .footer__item
  &__item {
    overflow: hidden;
    &:not(:last-child) {
      .footer__link {
        @extend %hoverLine;
      }
      @include adaptiveValue("margin-bottom", 10, 24,0,1100.98,480.98);
    }
    &:nth-child(1) {
      .footer__link {
        transition: background-color .3s ease 0s, color .3s ease 0s, transform .55s ease 0.1s;
      }
    }
    &:nth-child(2) {
      .footer__link {
        transition: background-color .3s ease 0s, color .3s ease 0s, transform .55s ease 0.13s;
      }
    }
    &:nth-child(3) {
      .footer__link {
        transition: background-color .3s ease 0s, color .3s ease 0s, transform .55s ease 0.16s;
      }
    }
    &:nth-child(4) {
      .footer__link {
        transition: background-color .3s ease 0s, color .3s ease 0s, transform .55s ease 0.19s;
      }
    }
    &:nth-child(5) {
      .footer__link {
        transition: background-color .3s ease 0s, color .3s ease 0s, transform .55s ease 0.22s;
      }
    }
    &:nth-child(6) {
      .footer__link {
        transition: background-color .3s ease 0s, color .3s ease 0s, transform .55s ease 0.25s;
      }
    }
    &:nth-child(7) {
      .footer__link {
        transition: background-color .3s ease 0s, color .3s ease 0s, transform .55s ease 0.28s;
      }
    }
  }
  // .footer__link
  &__link {
    transform: translate(0,100%);
    @media (min-width:$mobileSmall){
       font-size: toRem(15); 
    }
    @media (max-width:$mobileSmall){
       font-size: toRem(20); 
    }
    &.link-form {
      @media (min-width:$mobileSmall){
        padding: toRem(5) toRem(30);
        min-height: toRem(39);
        display: grid;
        place-items: center;
        width: fit-content;
        border: toRem(1) solid $mainColor;
        border-radius: toRem(32);
        margin-top: toRem(32);
        @media (any-hover: hover){
          &:hover{
            background-color: $mainColor;
            color: $lihtgGreen;
          }
        }
      }
    }
  }
  // .footer__bottom
  &__bottom {
    @extend %contcsFooterGrid;
    padding-top: toRem(30);
    @media (max-width:$mobileSmall){
       gap: toRem(20); 
    }
  }
  // .footer__social
  &__social {
    display: flex;
    align-items: flex-end;
  }
  // .footer__pages
  &__pages {
  }
}

.social {
  // .social__list
  &__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    @media (min-width:$mobileSmall){
       gap: toRem(4); 
    }
    @media (max-width:$mobileSmall){
       gap: toRem(20); 
    }
  }
  // .social__item
  &__item {
    aspect-ratio: 1/1;
    @include adaptiveValue("width", 40, 50,0,1100.98,480.98);
    &:nth-child(1) {
      .social__link {
        transition-delay: 0.28s;
      }
    }
    &:nth-child(2) {
      .social__link {
        transition-delay: 0.31s;
      }
    }
    &:nth-child(3) {
      .social__link {
        transition-delay: 0.34s;
      }
    }
    &:nth-child(4) {
      .social__link {
        transition-delay: 0.37s;
      }
    }
    &:nth-child(5) {
      .social__link {
        transition-delay: 0.4s;
      }
    }
  }
  // .social__link
  &__link {
    aspect-ratio: 1/1;
    display: grid;
    place-items: center;
    border-radius: 50%;
    overflow: hidden;
    position: relative;

    opacity: 0;
    transition: opacity .65s ease;
    img {
      width: 100%;
      height: auto;
      @media (min-width:$mobileSmall){
        position: relative;
        z-index: 2;
      }
    }
    @media (min-width:$mobileSmall){
      &::before {
        content:'';
        position: absolute;
        z-index: 0;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 90%;
        height: 90%;
        border-radius: inherit;
        background-color: $dark;
        transition: background-color .3s ease;
      }
    }
    @media (any-hover: hover){
      &:hover{
        &::before {
          background-color: $lihtgGreen;
        }
      }
    }
  }
}

.pages {
  display: flex;
  @media (min-width:toEm(700.98)){
    gap: toRem(30) toRem(20);
    flex-direction: column;
  }
  @media (max-width: toEm(700.98)){
      gap:toRem(10) toRem(20);
      flex-wrap: wrap;
  }
  // .pages__list
  &__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    @media (min-width:toEm(700.98)){
      gap: toRem(10) toRem(42);
    }
    @media (max-width: toEm(700.98)){
        gap: toRem(10) toRem(20);
    }
  }
  // .pages__item
  &__item {
    opacity: 0;
    transition: opacity .65s ease;
    &:nth-child(1) {
      transition-delay: 0.37s;
    }
    &:nth-child(2) {
      transition-delay: 0.4s;
    }
    &:nth-child(3) {
      transition-delay: 0.43s;
    }
    &:nth-child(4) {
      transition-delay: 0.46s;
    }
    &:nth-child(5) {
      transition-delay: 0.49s;
    }
  }
  // .pages__link
  &__link {
    opacity: 0.5;
    transition: opacity .3s ease;
    @media (any-hover: hover){
      &:hover{
        opacity: 1;
      }
    }
  }
  // .pages__copy
  &__copy {
    opacity: 0;
    transition: opacity .65s ease .46s;
  }
}
