.hero {
  opacity: 0;
  min-height: 100svh;
  padding-top: toRem(320);      
  
  display: flex;
  .loaded & {
    opacity: 1;
    transition: .2s ease;
  }
  @media (min-height:toEm(1440.98)){
    max-height: toRem(1500);
    height: 100svh;
    min-height: auto;
  }
  @media (min-width:$mobileSmall){
    padding-bottom: 14vh;
  }
  @media (max-width:$mobileSmall){
     padding-bottom: 10vh; 
  }
  // .hero__container
  &__container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  // .hero__body
  &__body {
    @media (min-width:$tablet){
      grid-template-columns: 55% auto;
    }
    @media (min-width:toEm(820.98)){
      column-gap: toRem(45);
    }
    @media (max-width:$tablet) and (min-width: toEm(820.98)){
      grid-template-columns: 65% auto;
    }
    @media (min-width:toEm(820.98)){
        display: grid;
    }
    // @media (max-width:$mobile){
    //    grid-template-row: toRem(200) auto; 
    // }
  }
  // .hero__rider
  &__rider {
    @media (min-width:toEm(820.98)){
      order: 2;
    }
    @media (max-width: $mobile){
      //  height: toRem(250); 
      // width: 100%;
      // display: block;
      // height: 250px;
      //  padding-bottom: 250px;
    }
  }
  // .hero__img
  &__img {
    position: fixed;
    z-index: 9;
    height: auto;
    filter: invert(70%) sepia(3%) saturate(2608%) hue-rotate(23deg) brightness(80%) contrast(98%);
    transform: translate(-50%,0);
    @media (min-width:toEm(1100.98)){
      top: 38%;
      left: 60%;
    }
    @media (max-width: toEm(1100.98)) and (min-width: toEm(820.98)){
      top: 30%;
      left: 50%;
    }
    @media (max-width: toEm(820.98)){
      top: 20%;
      left: 50%;
    }
    @media (min-width:$mobileSmall){
      width: 432px;
    }
    @media (max-width:$mobileSmall){
       width: calc(100wv + 40px); 
    }
  }
  // .hero__content
  &__content {
    position: relative;
    @media (min-width:toEm(820.98)){
      order: 1;
    }
    @media (max-width: toEm(820.98)) and (min-width: toEm(600.98)) {
        max-width: 70%;
    }
  }
  // .hero__title
  &__title {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    @include adaptiveValue("font-size", 110, 62,0,1440,375);
    span {
      display: inline-block;
    }
    @media (min-width:$mobileSmall){
      padding-top: 6px;
      line-height: 1;
    }
    .lines {
      position: relative;
      &:nth-child(1),
      &:nth-child(2) {
        display: grid;
        grid-template-columns: auto 1fr;
        span {
          &:nth-child(2) {
            position: relative;
            z-index: 5;
            &::before {
              content:'';
              position: absolute;
              top: toRem(-6);
              left: 0;
              width: 100%;
              height: calc(100% + 6px);
              background-color: $dark;
            }
          }
        }
      }
      &:nth-child(3) {
        line-height: 1.1;
        text-align: end;
      }
      .sub-line {
        transition: transform .85s cubic-bezier(.22,.89,.34,.96), opacity .45s ease;
        opacity: 0;
        
        &.first {
          position: relative;
          transform: translate(100%, 0);
          @include adaptiveValue("padding-right", 142, 97,0,1440,390);
          &::after {
            content:'';
            position: absolute;
            top: 38%;
            right: 0;
            background-color: $mainColor;
            height: toRem(1.5);
            @include adaptiveValue("width", 115, 70,0,1440,480);
          }
        }
        &.second {
          transform: translate(50%, 0);
        }
        &.third {
          position: relative;
          color: $lihtgGreen;
          transform: translate(50%, 0);
        }
        .loaded & {
          opacity: 1;
          transform: translate(0%, 0);
        }
      }
    }
  }
  // .hero__btn
  &__btn {
    position: absolute;
    left: 0;
    display: grid;
    aspect-ratio: 1/1;
    height: auto;
    @include adaptiveValue("width", 79, 50,0,1440,390);
    img {
      width: 100%;
      height: auto;
    }
    @media (min-width:$mobileSmall){
      bottom: toRem(20);
    }
    @media (max-width:$mobileSmall){
      bottom: toRem(10);        
    }
  }
}





.who {
  min-height: 100svh;
  background-color: $mainColor;
  color: $dark;
  @extend %fontFamily;
  // .who__container
  &__container {
  }
}


.values {
  min-height: 100svh;
  background-color: #fff;
  // .values__container
  &__container {
  }
}
